<!-- views/Store.ejs -->

<body>
    <div class="search-bar">
        <input type="text" placeholder="Search products...">
        <button>Search</button>
    </div>    
    <div class="content text-center">
        <div class="row store-cards"> <!-- Wrap cards in a row -->
            <% if (products && products.length > 0) { %>
                <% products.forEach(product => { %>
                    <div class="col-md-4"> <!-- Use col-md-4 to display 3 cards per row on medium-sized screens -->
                        div class="card product-card">
                            <img src="<%= product.image %>" alt="<%= product.name %>" class="card-img-top">
                            <div class="card-body">
                                <h5 class="card-title"><%= product.name %></h5>
                                <p class="card-text">Price: $<%= product.Price %></p>
                                <p class="card-text">Category: <%= product.category %></p>
                                <p class="card-text">Color: <%= product.color %></p>
                                <p class="card-text">Gender: <%= product.gender %></p>
                                <button class="btn btn-primary add-to-cart">Add to Cart</button>
                            </div>
                        </div>
                    </div>
                <% }); %>
        </div>
    </div>
</body>
